<h1> LIST of FLATS </h1>

<hr>

<% @flats.each do |falt| %>
  <p><%= falt.name %></p>
  <p><%= flat.address %></p>
  <p><%=  flat.description%></p>
  <p>GUESS<%= flat.number_of_guests %></p>
  <p>PRICE<%= flat.price_per_night %></p>
<% end %>